<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wkai.test.game.dao.OrderRecordMapper">
    <resultMap id="BaseResultMap" type="wkai.test.game.entity.OrderRecord">
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="goods_id" property="goodsId" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="buy_num" property="buyNum" jdbcType="INTEGER"/>
        <result column="buyer_mobile" property="buyerMobile" jdbcType="VARCHAR"/>
        <result column="total_amount" property="totalAmount" jdbcType="DECIMAL"/>
        <result column="bala_amount" property="balaAmount" jdbcType="DECIMAL"/>
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP"/>
        <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP"/>
        <result column="buyer_id" property="buyerId" jdbcType="VARCHAR"/>
        <result column="seller_id" property="sellerId" jdbcType="VARCHAR"/>
        <result column="chat_id" property="chatId" jdbcType="VARCHAR"/>
        <result column="deliver_id" property="deliverId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">

        order_id,goods_id,role_name,price,buy_num,buyer_mobile,total_amount,bala_amount,pay_amount,status,create_time,pay_time,finish_time,buyer_id,seller_id,chat_id,deliver_id
    </sql>

    <insert id="insert" parameterType="wkai.test.game.entity.OrderRecord">
        insert into order_Record (order_id, goods_id, role_name,
        price, buy_num, buyer_mobile,
        total_amount, bala_amount, pay_amount,
        status, create_time, pay_time,
        finish_time, buyer_id, seller_id,
        chat_id, deliver_id)
        values (#{orderId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR},
        #{price,jdbcType=DECIMAL}, #{buyNum,jdbcType=INTEGER}, #{buyerMobile,jdbcType=VARCHAR},
        #{totalAmount,jdbcType=DECIMAL}, #{balaAmount,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL},
        #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP},
        #{finishTime,jdbcType=TIMESTAMP}, #{buyerId,jdbcType=VARCHAR}, #{sellerId,jdbcType=VARCHAR},
        #{chatId,jdbcType=VARCHAR}, #{deliverId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="wkai.test.game.entity.OrderRecord">
        insert into order_Record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="buyNum != null">
                buy_num,
            </if>
            <if test="buyerMobile != null">
                buyer_mobile,
            </if>
            <if test="totalAmount != null">
                total_amount,
            </if>
            <if test="balaAmount != null">
                bala_amount,
            </if>
            <if test="payAmount != null">
                pay_amount,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="finishTime != null">
                finish_time,
            </if>
            <if test="buyerId != null">
                buyer_id,
            </if>
            <if test="sellerId != null">
                seller_id,
            </if>
            <if test="chatId != null">
                chat_id,
            </if>
            <if test="deliverId != null">
                deliver_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="buyNum != null">
                #{buyNum,jdbcType=INTEGER},
            </if>
            <if test="buyerMobile != null">
                #{buyerMobile,jdbcType=VARCHAR},
            </if>
            <if test="totalAmount != null">
                #{totalAmount,jdbcType=DECIMAL},
            </if>
            <if test="balaAmount != null">
                #{balaAmount,jdbcType=DECIMAL},
            </if>
            <if test="payAmount != null">
                #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="finishTime != null">
                #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="buyerId != null">
                #{buyerId,jdbcType=VARCHAR},
            </if>
            <if test="sellerId != null">
                #{sellerId,jdbcType=VARCHAR},
            </if>
            <if test="chatId != null">
                #{chatId,jdbcType=VARCHAR},
            </if>
            <if test="deliverId != null">
                #{deliverId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateStatusBySeller">
        update order_Record set status=#{status}
        where order_id=#{orderId} and seller_id=#{userId}
    </update>
    <update id="updateStatusByBuyer">
        update order_Record set status=#{status}
        where order_id=#{orderId} and buyer_id=#{userId}

    </update>
    <select id="getById" resultType="wkai.test.game.entity.OrderRecord">
        select
        <include refid="Base_Column_List"/>
        from order_Record
        where order_id=#{orderId}
    </select>
    <select id="getByUserIdAndStatus" resultType="java.util.Map">
        select
        o.order_id as orderId,
        g.title,
        CONCAT_WS('/',g.game_id,g.area_id,g.server_id,g.camp_id) as serverInfo,
        o.create_time as createTime,
        o.status
        from order_Record o , goods_info g
        where o.goods_id = g.goods_id
        <if test="userId != null and userId !=''">
            <if test="roleType == 'B'.toString()">
                and o.buyer_id = #{userId}
            </if>
            <if test="roleType == 'S'.toString()">
                and o.seller_id = #{userId}
            </if>
        </if>
        <if test="status != null and status !=''">
            and o.status = #{status}
        </if>

    </select>
    <select id="getOrderInfoById" resultType="java.util.Map">
        select
        o.order_id as orderId,
        g.title,
        CONCAT_WS('/',g.game_id,g.area_id,g.server_id,g.camp_id) as serverInfo,
        g.goods_type as goodsType,
        o.price,
        o.create_time as createTime,
        o.pay_time as payTime,
        o.buy_num as buyNum,
        o.buyer_id as buyerId,
        o.seller_id as sellerId,
        o.total_amount as totalAmount,
        o.bala_amount as balaAmount,
        o.pay_amount as payAmount,
        o.status,
        o.chat_id as chatId,
        o.deliver_id as deliverId
        from order_Record o , goods_info g
        where o.goods_id = g.goods_id and o.order_id=#{orderId}
    </select>

    <select id="getBuyerInfo" resultType="java.util.Map">
        select status,count(1) as num from order_Record where buyer_id=#{userId} group by status
    </select>

    <select id="getSellerInfo" resultType="java.util.Map">
        select status,count(1) as num from order_Record where seller_id=#{userId} group by status
    </select>
</mapper>