<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wkai.test.game.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="wkai.test.game.entity.UserInfo" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="login_pwd" property="loginPwd" jdbcType="VARCHAR" />
    <result column="pay_pwd" property="payPwd" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="idno" property="idno" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="wkai.test.game.entity.UserInfo" >
    insert into user_info (user_id, login_pwd, pay_pwd, 
      user_name, create_time, idno
      )
    values (#{userId,jdbcType=VARCHAR}, #{loginPwd,jdbcType=VARCHAR}, #{payPwd,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{idno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="wkai.test.game.entity.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="loginPwd != null" >
        login_pwd,
      </if>
      <if test="payPwd != null" >
        pay_pwd,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="idno != null" >
        idno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null" >
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="payPwd != null" >
        #{payPwd,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="idno != null" >
        #{idno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectUserInfoByLoginPwd" resultMap="BaseResultMap">
    select *
    from user_info
    where 1=1
    and user_id = #{userId,jdbcType=VARCHAR}
    and login_pwd = #{loginPwd,jdbcType=VARCHAR}
  </select>

  <select id="selectUserInfoByPayPwd" resultMap="BaseResultMap">
    select *
    from user_info
    where 1=1
    and user_id = #{userId,jdbcType=VARCHAR}
    and pay_pwd = #{payPwd,jdbcType=VARCHAR}
  </select>

  <select id="selectUserInfoBy2Pwd" resultMap="BaseResultMap">
    select *
    from user_info
    where 1=1
    and user_id = #{userId,jdbcType=VARCHAR}
    and login_pwd = #{loginPwd,jdbcType=VARCHAR}
    and pay_pwd = #{payPwd,jdbcType=VARCHAR}
  </select>

  <update id="change2Pwd">
    update user_info set login_pwd = #{newLoginPwd}, pay_pwd=#{newPayPwd} where user_id = #{userId}
  </update>

  <update id="changeLoginPwd">
    update user_info set login_pwd = #{newLoginPwd} where user_id = #{userId}
  </update>

  <update id="changePayPwd">
    update user_info set lpay_pwd=#{newPayPwd} where user_id = #{userId}
  </update>
</mapper>